<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GoogleUrl" value="https://www.googleapis.com/customsearch/v1?key=AIzaSyDohZHy7jb19SW0SwNqb1vy0qLfYYSKxtg&amp;cx=af0f4f02a836fb664&amp;q={0}"/>
    <add key="BingUrl" value="https://api.bing.microsoft.com/v7.0/search?q={0}"/>
    <add key="BingKey" value="9533aeb757be4710b4ce7807211b4652"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
